@use "sass:list";
$night-blue-text:hsl(228, 34%, 66%);
$colors : hsl(208, 92%, 53%), hsl(203, 89%, 53%), hsl(348, 97%, 39%);
@for $i from 1 to 4{
    .card#{$i}{
        border-top:4px solid list.nth($colors,$i);
    }
}
*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color:hsl(230, 17%, 14%);
    color:white;
}
.header-container{
    display:flex;
    width: calc(100% - 25vw);
    justify-content: space-between;
    margin: 5.5vh auto;
}

.switcher-container{
    display:flex;
    align-items: center;
    h5{
        margin-right:20px;
    }
}
h5{
    color: $night-blue-text;
}
.title-container{
    justify-self: start;
}
.switch-path{
    width:50px;
    position: relative;
    height: 28px;
    border-radius: 20px;
    background-image: linear-gradient(to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%) );
}
.switch-knob{
    border-radius: 50%;
    position:absolute;
    top:14%;
    width:20px;
    height:20px;
    left:5%;
    background-color: hsl(230, 17%, 14%);
}
.body-container{
    margin:0 auto;
    width: calc(100% - 23.5vw);
}
.card{
    background-color: hsl(228, 28%, 20%);
    padding: 30px 0;
    border-radius: 5px;
    text-align: center;
}
.cardinsta{
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58));
    background-position:top left;
    background-size:100% 4px;
    background-repeat: no-repeat;
}
small{
    color: $night-blue-text;
    font-weight: 600;
}
.card-header{
    display:flex;
    justify-content: center;
    align-items: center;
    img{
        margin-right:10px;
    }
}
.card-body{
    padding:2rem 0;
    h1{
        font-size:3rem;
    }
    h5{
        font-weight: 300;
        letter-spacing: 5px;
    }
}
.social-cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 2rem;
}
.section-divider{
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.overview-cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 2rem;
    margin-bottom: 2vh;
}
.overview{
    background-color: hsl(228, 28%, 20%);
    padding:30px;
    border-radius: 5px;
}
.overview-title,.overview-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-size:35px
    }
}
.black-h1{
    color:black;
}
.black-small{
    color:hsl(228, 12%, 44%);
}
.lightbg{
    background-color:hsl(0, 0%, 100%)
}
.lightCardBg{
    background-color: hsl(227, 47%, 96%);
}
.switch-light{
    background-image:none;
    background-color: hsl(228, 12%, 44%);
    .switch-knob{
        background-color: white;
    }
}
@media screen and (max-width:565px){
    .header-container{
        flex-direction: column;
        position:relative;
        width: calc(100% - 15vw);
    }
    .body-container{
        width: calc(100% - 12.5vw);
    }
    .switcher-container{
        justify-content: space-between;
        margin-top:30px;
    }
    .switcher-container::before{
        position:absolute;
        content: "";
        top:60%;
        width:100%;
        height: 1px;
        background-color:hsla(228, 34%, 66%,0.3);
    }
    .mobileSwitch::before{
        background-color:black;
    }
}